<p class="lead"><small><%=title%></small></p>
<div class="row">
    <div class="span3"><input type="text" placeholder="用户名/邮箱"></div>
    <div class="span2"><input type="password" placeholder="密码"></div>
    <div class="span1"><button class="btn btn-primary" type="submit">登陆</button></div>
    <div class="span1"><button class="btn btn-success" type="button">注册</button></div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
        <th>代码</th>
        <th>股票名称</th>
        <th>股价</th>
        <th>成交量</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<!--
<div class="usr">
    <form>
        <input type="text" name="username" value="用户名"/>
        <input type="password" name="password" value="密码"/>
        <input type="submit" />
    </form>
</div>
<div class="info">
    <image src="/images/logo.jpg" />
    <form>
        <input type="text" name="searchStock"/>
        <input type="submit" />
    <form>
</div>
<div class="stockPanel">
    <table>
        <tr>
            <th>代码</th>
            <th>股票名称</th>
        </tr>
        <tr>
            <td>600259</td>
            <td>广晟有色</td>
        </tr>
    </table>
</div>
<div class="foot">
    <p>create by zhangshuiyong</p>
</div>
-->