
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well tabbable">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">最近访问</a></li>
                    <li><a href="#2" data-toggle="tab">自选股</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="1">
                      <p>最近访问股</p>
                    </div>
                    <div class="tab-pane" id="2">
                      <p>自选股</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="span10">
                <div class="hero-unit">
                   <h1>新闻头条</h1>
                  <p>
                     <ul class="unstyled">
                        <li><a href="#">a公司有问题</a></li>
                        <li><a href="#">b公司有很大问题</a></li>
                     </ul>
                  </p>
                </div>
                <table class="table">
                    <thead >
                        <tr class="alert-success">
                            <th>代码</th>
                            <th>股票名称</th>
                            <th>股价</th>
                            <th>成交量</th>
                            <th><a href="#"> >> </a> </th>

                        </tr>
                        <tr>
                            <td>600259</td>
                            <td>广晟有色</td>
                            <td>50.61</td>
                            <td>1100</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>
        <footer>
             <p class="muted">&copy;Create By Zhangshuiyong</p>
        </footer>
</div>



