<!DOCTYPE html>
<html lang="en">
<head>
<title>小羊司令部</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='/stylesheets/bootstrap.css'>
<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css'>
<script src='/javascripts/jquery-1.9.0.js'></script>
<script src='/javascripts/bootstrap.js'></script>
</head>
<body>
<%- body %>
</body>
</html>
