<div class="container">
    <form class="form-horizontal" action="/register" method="post" >
        <fieldset>
            <legend>注册</legend>
            <div class="control-group">
                <label class="control-label" for="username">账号</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" placeholder="邮箱/用户名" id="username" name="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" placeholder="密码" name="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="repassword">确认密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="repassword" placeholder="确认密码" name="repassword">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
        </fieldset>
    <form>
</div>